<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944881204751-2ipnun5tuun7kedlec384kieg4h129tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944881204751-2ipnun5tuun7kedlec384kieg4h129tn</string>
	<key>API_KEY</key>
	<string>AIzaSyDOKsFe2KcY9fWsfHNaK6OQ9hPgp7wXBgI</string>
	<key>GCM_SENDER_ID</key>
	<string>944881204751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.amno.babycareplus</string>
	<key>PROJECT_ID</key>
	<string>chat-36bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-36bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944881204751:ios:717fbee120ed2dd6</string>
	<key>DATABASE_URL</key>
	<string>https://chat-36bd9.firebaseio.com</string>
</dict>
</plist>